<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title>
     <b>Plymouth Rock</b> Home Inspector
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="basic-info-page" padding>
  <ion-grid>
      <ion-row justify-content-center>
          <ion-img style="width:68px; height: 46px; margin-top:32px" src="assets/imgs/bed.png"></ion-img>
      </ion-row>
      <p>How many bedrooms?</p>
      <ion-row class="counter-row">
          <ion-col class="col-border" col-3>
              <div (click)="decrease_bednum()" class="sign">-</div>
          </ion-col>
          <ion-col class="col-border" col-6>
              <div class="number">{{display_bednum}}</div>
          </ion-col>
          <ion-col size="3">
              <div (click)="incrase_bednum()" class="sign">+</div>
          </ion-col>
      </ion-row>
      <p>How many bathrooms?</p>
      <ion-row class="counter-row">
          <ion-col class="col-border" col-3>
              <div (click)="decrease_bathnum()" class="sign">-</div>
          </ion-col>
          <ion-col class="col-border" col-6>
              <div class="number">{{display_bathnum}}</div>
          </ion-col>
          <ion-col size="3">
              <div (click)="incrase_bathnum()" class="sign">+</div>
          </ion-col>
      </ion-row>
      <p>Primary source of heat?</p>
      <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>
      <form #f="ngForm" novalidate  (ngSubmit)="heatSource(f.value)">
      <ion-row (click)="selectCheckbox('heatPump')" [ngClass]="{'add-border-color':checkboxObj.heatPump}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox (click)="selectCheckbox('heatPump')" name="heatPump"   ngModel="true" *ngIf="checkboxObj.heatPump" color="secondary" [checked]='checkboxObj.heatPump'></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Heat Pump</div>
          </ion-col>
      </ion-row>
      
      <ion-row (click)="selectCheckbox('furnace')" [ngClass]="{'add-border-color': checkboxObj.furnace}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox (click)="selectCheckbox('furnace')" name="furnace"  ngModel="true"  *ngIf="checkboxObj.furnace" color="secondary" [checked]='checkboxObj.furnace' ></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Furnace</div>
          </ion-col>
      </ion-row>
      <ion-row (click)="selectCheckbox('boiler')" [ngClass]="{'add-border-color': checkboxObj.boiler}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox  (click)="selectCheckbox('boiler')" name="boiler"  ngModel="true" *ngIf="checkboxObj.boiler" color="secondary" [checked]='checkboxObj.boiler'></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Boiler</div>
          </ion-col>
      </ion-row>
      <ion-row (click)="selectCheckbox('wood')" [ngClass]="{'add-border-color': checkboxObj.wood}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox (click)="selectCheckbox('wood')"  name="wood"  ngModel="true"  *ngIf="checkboxObj.wood" color="secondary" [checked]='checkboxObj.wood'></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Wood</div>
          </ion-col>
      </ion-row>
      <ion-row (click)="selectCheckbox('electricBase')" [ngClass]="{'add-border-color': checkboxObj.electricBase}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox  (click)="selectCheckbox('electricBase')" name="electricBase"  ngModel="true"  *ngIf="checkboxObj.electricBase" color="secondary" [checked]='checkboxObj.electricBase'></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Electric Baseboard</div>
          </ion-col>
      </ion-row>
      <ion-row (click)="selectCheckbox('other')" [ngClass]="{'add-border-color': checkboxObj. other}" class="counter-row">
          <ion-col col-3>
              <ion-checkbox  (click)="selectCheckbox('other')"  name="other"  ngModel="true" *ngIf="checkboxObj.other" color="secondary" [checked]='checkboxObj.other'></ion-checkbox>
          </ion-col>
          <ion-col col-7>
              <div class="text">Other</div>
          </ion-col>
      </ion-row>
      <button col-12 ion-button  color="secondary"  class="next-btn" type="submit"  >Next</button>
</form>
    </ion-grid>
</ion-content>