<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title>
      <b>Plymouth Rock</b> Home Inspector
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home-page" padding>
  <ion-grid>
  <ion-row justify-content-center class="top_title">
  <ion-col col-12>
   <h1>Welcome, homeowner</h1>
   <p class="thanks_text">Thank you for trusting us with your home</p>
   </ion-col>
   </ion-row>
   <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>
   <form #f="ngForm" novalidate  (ngSubmit)="login(f.value, f.valid)">
  <ion-row> 
   <ion-col col-10>
  <ion-input type="text" class="form-control" name="policyNumber" 
  #policyNumber="ngModel" [(ngModel)]="user" 
  required maxlength="14" minlength="14" placeholder="Policy Number" ></ion-input>
 
  <div *ngIf="policyNumber.invalid && (policyNumber.touched || !policyNumber.pristine || f.submitted)" class="col-lg-12 error nopadding">
    
  <small *ngIf="policyNumber.errors.required;then policyNumberBlock"></small>
  <small *ngIf="policyNumber.errors.maxlength;then policyNumberBlock"></small>
  <small *ngIf="policyNumber.errors.minlength;then policyNumberBlock"></small>
  <ng-template #policyNumberBlock>
    <small>
      Please enter a valid policy number.
    </small>
  </ng-template>			
</div>
  </ion-col>
  <ion-col col-2>
      <ion-icon  ios="ios-help" md="md-help"></ion-icon>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-10>
      
      <ion-input name="zip" required  placeholder="Zip Code" pattern="^[0-9]{5}$" maxlength="5" minlength="5"type="text" #zip='ngModel' (ngModel)="policyObj.zip=$event.target.value" ></ion-input>
      <div *ngIf="zip.invalid && (zip.touched || !zip.pristine || f.submitted)" class="col-12 error nopadding">
        
      <small *ngIf="zip.errors.required;then zipBlock"></small>
      <small *ngIf="zip.errors.maxlength;then zipLenthBlock"></small>
      <small *ngIf="zip.errors.minlength;then zipLenthBlock"></small>
      <small *ngIf="zip.errors.pattern; then zipcodeBlock"></small>
       <ng-template #zipBlock>
        <small>
          Please enter Zip Code.
        </small>
      </ng-template>	
      <ng-template #zipLenthBlock>
        <small>
          Please enter valid 5 digits zip code.
        </small>
      </ng-template>			
    </div>
    </ion-col> 
  </ion-row>
  <ion-row>
  <p class="privacy-text">Or <a (click)="loginWithPersonalInfo()">sign in using personal info</a></p>  
  </ion-row>
  <button  type="submit" ion-button color="secondary" >Agree and Continue</button>
   </form>
  <p class="privacy-text">By agreeing, you accept our <a>terms and conditions</a></p>
  <ion-row justify-content-center>
      <ion-img style="width:75px; height: 75px; " src="assets/imgs/homepage_home.png"></ion-img>   
</ion-row>

</ion-grid>
  
  </ion-content>
