.home-page {
    font-family: 'Whitney-Medium', 'Whitney Medium', 'Whitney';
    color:#4D4D4F;
    .top_title {
        text-align: center;
        h1{
           
            font-weight: 500;
            font-style: normal;
            font-size: 30px;
            color: #007AC9;
            text-align: center;
            line-height: 36px;
        }
        .thanks_text {
            font-size: 16px;
            margin-top: 0px; 
            margin-bottom: 10px;
            
        }
    }
    ion-label{
        font-size: 13px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    ion-input {
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        border-radius: 3px;
        height: 40px;
        padding-left: 10px;
    }
    .privacy-text {
        font-size: 14px;
        margin-left: 10px;
    }   
    a {
        color: #007ac9;
        cursor: pointer;
    }
    .error {
        color:red;
    }
    .ion-page > ion-content {
        margin-top: 5px;
       
    }
}


