<ion-header>
  <ion-navbar hideBackButton color="primary">
    <ion-title>
     <b>Plymouth Rock</b> Home Inspector
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="all-photos-page" padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
    <p *ngIf="!lastPhototext">These are the photos needed for your policy, tap to get started</p>
    <p *ngIf="lastPhototext">{{lastPhototext}}</p> 
  </ion-col>
  </ion-row>
  <span class="exterior">
  <ion-row>
  <ion-col  *ngIf="photosTaken.show_exteriorFront" col-5>
   <div (click)="takePhoto('exteriorFront')">Exterior: Front</div>
  </ion-col>
  <ion-col  *ngIf="photosTaken.show_exteriorRight" col-7>
      <div (click)="takePhoto('exteriorRight')">Exterior: Right Side</div>  
     </ion-col>
  </ion-row>
  <ion-row >
      <ion-col  *ngIf="photosTaken.show_exteriorLeft" col-7>
       <div (click)="takePhoto('exteriorLeft')">Exterior: Left Side</div>
      </ion-col>
      <ion-col *ngIf="photosTaken.show_exteriorBack"col-5>
        <div (click)="takePhoto('exteriorBack')">Exterior: Back</div> 
         </ion-col>
      </ion-row>
     
  </span>
  <span class="exterior interior">
      <!-- <ion-row>
      <ion-col col-4>
       <div>Kitchen</div>
      </ion-col>
      <ion-col col-6>
          <div>Livingroom</div>  
         </ion-col>
      </ion-row> -->
      <ion-row >
          <ion-col *ngIf="masterBath && photosTaken.show_masterbathRoom" col-4>
           <div (click)="takePhoto('masterbathRoom')" >Master Bath</div>
          </ion-col>
          <ion-col *ngIf="bathRoom2 && photosTaken.show_bathRoom2" col-4>
              <div (click)="takePhoto('bathRoom2')" >Bath two</div>  
             </ion-col>
             <ion-col *ngIf="bathRoom3 && photosTaken.show_bathRoom3" col-4>
                <div (click)="takePhoto('bathRoom3')">Bath Three</div>  
               </ion-col>
          </ion-row>
          <ion-row>
              <!-- <ion-col col-5>
               <div>Family Room</div>
              </ion-col> -->
              <ion-col *ngIf="masterBed && photosTaken.show_masterbedRoom" col-7>
                  <div (click)="takePhoto('masterbedRoom')">Master Bedroom</div>  
                 </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col  *ngIf="bedRoom2 && photosTaken.show_bedRoom2" col-5>
                     <div (click)="takePhoto('bedRoom2')">Bedroom Two</div>
                    </ion-col>
                    <ion-col *ngIf="bedRoom3 && photosTaken.show_bedRoom3"  col-7>
                        <div (click)="takePhoto('bedRoom3')">Bedroom Three</div>  
                       </ion-col>
                      </ion-row>
            <ion-row  *ngIf="otherHomeProperties">
            <ion-col col-6 *ngFor="let p of otherHomeProperties">
                            <div  (click)="takePhoto(p)">{{p}}</div>  
                       </ion-col>  
            </ion-row>
           
      </span>
    
  </ion-grid>
  </ion-content>
