<ion-header>
    <ion-navbar hideBackButton color="primary">
      <ion-title>
        <b>Plymouth Rock</b> Home Inspector
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="submit-page" padding>
     <ion-grid>
    <ion-row justify-content-center>
     <p class="alldone-text">All done. Good job!</p> 
     <p class="retake-text">Retake any photo or submit your inventory now</p>
    </ion-row>
    <ion-row justify-content-center>
        <button ion-button color="secondary"  (click)="uploadPhotos()"  expand="full">Submit Photos</button>  
    </ion-row>
    <p class="error" *ngIf="uploadErrorMsg">{{uploadErrorMsg}}</p>
   
    <ion-row class="gallery">
    <ion-col col-4 *ngFor="let m of images">
        <img (click)="editPhoto(m.key)" src="{{m.imagedata}}"/> 
   </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>